body {
   font-family: "Montserrat", sans-serif;
   
}

.box {
   display: flex;
   flex-wrap: wrap;
}

img{
/* object-fit: contain; */
flex: 1 50px;
width: 100px;
height: 100%;
/* display: inline; */
}


p {
   display: block;
   color: black;
}

 .square img{
   width:50vh;
   height:60vh;
   object-fit: cover;
   object-position: center;

}